
  <div class="row">
    <form action="/signup" method="post">
      <input type="text" id="name" name="name" tabindex="1">
      <label for="name">Name</label>
      <input type="email" id="email" name="email" tabindex="2">
      <label for="email">Email address</label>
      <input type="password" id="password" name="password" class="validate" tabindex="3">
      <label for="password">Password</label>
  </div>
  <button type="submit" name="action">Register</button>

  <div>Already registered? <a href="/">Login</a></div>
